<br><br><br>
<div class="card">
    <h1 class="text-danger"> RandomUser.me API </h1>
</div>
<br>
<div class="card ui-resizable">
    <div class="card-body text-center">
        <img width="150" height="150" class="rounded-circle img-thumbnail border-dark"
        [src]="user.picture?.large"/>
        
        <div class="card-title text-primary">
            <h1>
                <span class=px-2> {{user.name?.title}}.</span>
                <span class=px-2> {{user.name?.first}}</span>
                <span class=px-2> {{user.name?.last}}</span>
            </h1>
        </div>

        <div class="card-text">
            <fa-icon [icon] = "faEnvelope"></fa-icon>
            {{user.email}}
        </div>

        <div class="card-text">
            <fa-icon [icon] = "faMapMarkedAlt"></fa-icon>
            {{user.location?.street?.number }}     {{user.location?.street?.name }} {{user.location?.city }}<br>
            {{user.location?.state }} {{user.location?.country }} 
        </div>

        <div class="card-text">
            <fa-icon [icon] = "faPhone"></fa-icon>
            {{user.phone}}
        </div>

        



    </div>
   
    
</div>


<br><br>

<button class="btn btn-danger " (click)="reload()"> Generate New User </button>
